body {
    margin: 0;
    background: #1F2937;
    font-family: 'Karla';
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 15%;
}

h1 {
    color: white;
}

.subtitle{
    color: #4ADF86;
}

p{
    margin-top: 5%;
    color: #D5D4D8;
}

button{
    margin-top: 10%;
    padding: 8px 15px;
    background: #10B981;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Karla'
}

.linea{
    margin-top: 10%;
    display: flex;
    border: 1px solid #2F3E53;
}

.passwords{
    display: flex;
    margin-top: 8%;
}

#password1{
    margin-right: 10px;
    border: 1px solid white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background: #273549;
    border-radius: 10px;
    color: #55F991;
    width: 220px;
    height: 25px;
    text-align: center;
}

#password2{
    border: 1px solid white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background: #273549;
    border-radius: 10px;
    color: #55F991;
    width: 220px;
    height: 25px;
    text-align: center;
}

.btn-length{
    position: static;
    background: none;
    color: #55F991;
    margin-left: -5px;
    margin-top: 15px;
}

input{
    margin-left: -10px;
    height: 30px;
    width: 50px;
    border-radius: 100px;
    background: none;
    border: solid 1px #55F991;
    color: #55F991;
    text-align: center;
    
}

#copy1{
    border: 1px solid white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    width: 190px;
    height: 30px;
    text-align: center;
}

#copy2{
    border: 1px solid white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    width: 190px;
    height: 30px;
    text-align: center;  
    margin-left: 24%;
}

.btn-copy {
    margin-top: -5%;
    display: flex;
    margin-left: 9%;
}

.div {
    display: inline-block;
}

